@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

:root {
    background-color:rgb(187, 116, 49);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 64%;
    font-family: 'Lobster Two', cursive;
}

h1{
    font-size: 5.4rem;
    color: white;
}
p,#quizDir {
    font-size: 3.5rem;
    color: white;
}

h2 {
    font-size: 4.2rem;
    margin: 4rem;
}

.container {
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70 rem;
    margin: auto;
    padding: 2px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}
.hidden{
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(100, 68, 68) 39%, rgb(113, 221, 243) 100%);
    color: white;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(252, 164, 2);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
cursor: not-allowed;
box-shadow: none;
transform: none;
}

#counter{
    text-align: right;
    font-size: 3.0rem;
    color: white;
    padding: 2px;
}
   

